code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Darker Grotesque, sans-serif';
  font-size: calc(1vw/12);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
}

a, button {
  background-color: transparent;
  pointer-events: all;
  cursor: pointer;
}

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 7px;
    border-radius: 7px;
    background: #eee; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 7px;
    border-radius: 7px;
    background: rgba(0,0,0,0.2); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,0.2); 
}

@media (min-width: 1440px) {
  html, body {
    font-size: 1.2px;
  }
}
@media (max-width: 600px) {
  html, body {
    font-size: calc(100vw/400);
  }
}

  
  
